body {
    background-image: url(./images/background.png);
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
}
header {
    box-sizing:border-box;
    width: 1103.408px;
    height: 29.461px;
    flex-shrink: 0;
    margin-left: 172px;
    margin-right: 165px;
    margin-top: 35px;
}
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-decoration: none;
}
ul {
    display: inline-flex;
    height: 15px;
    justify-content: center;
    align-items: flex-start;
    gap: 52px;
    flex-shrink: 0;
    list-style-type: none;
}
li a {
    color: white;
    text-decoration: none;
    padding-right: 52px;
}
.logo {
    width: 167.016px;
    height: 29.461px;
    flex-shrink: 0;
}
#banner > #container-1 > h1 {
    color: #FFF;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}
.tagline {
    width: 100%;
    height: 20px;
    flex-shrink: 0;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 59px;
    margin-bottom: 38px;
}
#hero-button {
    color: #FFF;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-style: none;
    border-radius: 22px;
    background: #C271FF;
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
    display: block;
    margin: auto;
}
.pros > h2 {
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
    margin-top: 168px;
}
.pros > h2 > span {
    color: #C271FF;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.pros-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 1009px;
    height: 237px;
    flex-shrink: 0;
    margin-left: 217px;
    margin-right: 214px;
}
.pro1, .pro2, .pro3, .pro4 {
    width: 150px;
    height: 237px;
    flex-shrink: 0;
    color: white;
    text-align: center;
}
.pro1 > h3, .pro2 > h3, .pro3 > h3, .pro4 > h3 {
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 27px; /* 150% */
}
.pro1 > p, .pro2 > p, .pro3 > p, .pro4 > p {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
#quote {
    width: 1440px;
    height: 392px;
    flex-shrink: 0;
    background-color: #C271FF;
    margin-top: 98px;
}
.quote-block {
    width: 943px;
    height: 160px;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: auto auto;
    border-top-width: 110px;
    padding-top: 110px;
    padding-left: 257px;
}
#quote-image {
    padding-right: 52px;
}
blockquote {
    margin-left: 0;
    margin-top: 0;
    width: 730px;
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px; /* 152.727% */
}
.quote-block > #quote-text > h3 {
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.6px; /* 152.727% */
    margin-bottom: 0;
}
.quote-block > #quote-text > p {
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 33.6px; /* 152.727% */
    margin-top: 0;
}
#videos {
    margin-bottom: 87px;
}
#videos > #video-heading {
    color: #071629;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 87px;
    margin-bottom: 72px;
}
#videos > #video-heading > span {
    color: #C271FF;
    font-size: 32px;
    font-weight: 700;
}
.tutorials {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 31px;
    margin-left: 164px;
    width: 1111px;
    height: 335px;
    flex-shrink: 0;
}
.videotutorial > h3 {
    margin-top: 19px;
    color: #071629;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 7.6px;
}
.videotutorial > p {
    color: rgba(7, 22, 41, 0.50);
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    margin-top: 0px;
}
.rev {
    display: block;
    padding-left: 12px;
}
.rev > .photo {
    display: inline-flex;
    align-items: center;
}
.rev > .photo > img {
    width: 30px;
}
.rev > .photo > h4 {
    color: #C271FF;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    margin: 0;
    margin-left: 13px;
    line-height: 27px; /* 192.857% */
}
.rev > .rate {
    display: inline-flex;
    justify-content: space-between;
    width: 220px;
}
.rev > .rate > p {
    margin: 0;
    color: #C271FF;
    text-align: right;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

#membership {
    display:block;
    background-color: #071629;
    width: 1440px;
    height: 502px;
    flex-shrink: 0;
}
#membership > h2 {
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-top: 70px;
    padding-bottom: 58px;
    text-align: center;
}
#membership > h2 > span {
    color: #C271FF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.memplan {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 158px;
    justify-content: center;
    gap: 67px;
}    
.plans > h3 {
    color: #FFF;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 144.444% */
}
.plans > p {
    width: 221px;
    color: #FFF;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 85px;
    line-height: 26px; /* 185.714% */
}
.plans > img {
    padding-left: 80px;
}
.regbutton {
    color: #FFF;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 22px;
    background: #C271FF;
    width: 162px;
    height: 44px;
    flex-shrink: 0;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.50);
    display: block;
    margin: auto;
}
#FAQ {
    width: 1440px;
}
#FAQ > h2 {
    color: #071629;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 60px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-top: 67px;
}
.faq-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 1440px;
    height: 558px;
    flex-shrink: 0;
    justify-content: center;
    gap: 220px;
    margin-left: 249px;
    width: 920px;
    flex-shrink: 0;
}
.faqbox > h3 {
    color: #071629;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.faqbox > .text {
    color: rgba(7, 22, 41, 0.50);
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 350px;
    line-height: 24px; /* 171.429% */
}
footer {
    width: 1440px;
    height: 249px;
    flex-shrink: 0;
    background: #071629;
}
.socialsnlogo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 89px;
    padding-left: 165px;
    padding-right: 236px;
}
#copyright {
    color: #FFF;
    font-family: "Source Sans Pro";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.3517;
    text-align: center;
    margin-bottom: 39px;
    margin-top: 68px;
}
