body {
    background-image: url("./images/background.png");
    width: 1440px;
    height: 1093px;
    flex-shrink: 0;    
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
}
.hero-section nav {
    display: flex;
    align-items: center;
    margin-top: 37px;
}  
.hero-section nav img {
    height: 40px;
    margin-left: 172px;
    margin-right: 697px;
}  
.hero-section nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}  
.hero-section nav li a {
    margin-right: 52px;
    color: white;
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-size: 12px;
    font-weight: 700;
}
h1 {
    color: #FFF;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: 151px;
    margin-bottom: 0;
}
span {
    color: white;
    font-family: 'Source Sans Pro';
    font-size: 16px;
    font-weight: 700;
}
#smiles {
    margin-left: 593px;
    margin-right: 59px;
}
#grin {
    margin-right: 57px;
}
#hero-button {
    display:block;
    box-sizing: border-box;
    width: 162px;
    height: 44px;
    background-color: #C271FF;
    color: white;
    border-radius: 22px;
    border: none;
    box-shadow: 0px, 2px, 20px, 0px, rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Source Sans Pro';
    margin-top: 38px;
    margin-left: 643.08px;
}
.first-word {
    color:#C271FF;
    font-weight: 700;
    font-size: 32px;
    font-family: 'Source Sans Pro';
}
.hero-section > div > h2 {
    font-size: 32px;
    text-align: center;
    padding-top: 168px;
}
.grid-container {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    column-gap: 139px;
    color: white;
    justify-content: center;
    text-align: center;
    padding-top: 87.15px;
    gap: 139px;
    font-family: 'Source Sans Pro'
}
.item1 > img, .item2 > img, .item3 > img, .item4 > img {
    margin-bottom: 10px;
}
.item1 > h3, .item2 > h3, .item3 > h3, .item4 > h3 {
    font-size: 18px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 2px;
}
.item1 > p, .item2 > p, .item3 > p, .item4 > p {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 98px;
}
#quote {
    box-sizing: border-box;
    background-color: #C271FF;
    display: grid;
    grid-template-columns: auto auto;
    position: absolute;
    top: 1093px;
    height: 392px;
    width: 100%;
    grid-column-gap: 0px;
    
}
#quote-image {
    padding-left: 120px;
    padding-top: 108px;
    padding-bottom: 124px;
    padding-right: 0px;
}
#quote-text {
    padding-top: 110px;
    padding-left: 52px;
    padding-right: 237px;
    margin: 0;
    color: white;
}
blockquote {
    padding-left: 0px;
    padding-right: 235px;
    margin: 0px;
    font-size: 22px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
}
#quote-text > h3 {
    padding-top: 22px;
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 22px;
    margin: 0px;
}
#quote-text > p {
    padding-top: 0px;
    margin: 0px;
    font-size: 22px;
    font-family: 'Source Sans Pro';
    font-style: italic;
}
#videos {
    box-sizing: border-box;
    border-style: dashed;
    position: absolute;
    top: 1485px;
    height: 624px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
}
#item1 {
    grid-column-start: 1;
    grid-column-end: 5;
    padding-top: 87px;
    padding-left: 588px;
    font-size: 32px;
    font-weight: 300;
}
#item1 > span {
    color:#C271FF;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 76px;
}
#item2 > img, h3, p {
    padding-left: 177px;
    width: 254px;
}
#item2a > img, h4 {
    display: inline;
}
#item2a > img {
    width: 30px;
    padding-left: 177px;
}
#item2a > 
#item3 > img, h3, p {
    padding-left: 31px;
    width: 254px;
}
#item4 > img, h3, p {
    padding-left: 31px;
    width: 254px;
}
#item5 > img, h3, p {
    padding-left: 31px;
    width: 254px;
}
#membership {
    box-sizing: border-box;
    border-style:dashed;
    position: absolute;
    top: 2109px;
    height: 502px;
}
#FAQ {
    box-sizing: border-box;
    border-style:dashed;
    position: absolute;
    top: 2611px;
    height: 858px;
    display: grid;
    grid-template-columns: auto auto;
}